{% load leaflet_tags %}
{% leaflet_css %}
{% leaflet_js %}

<div>
    <h1>Cascadia</h1>
    {% leaflet_map "main" callback="map_init" %}
</div>

{{ json_context|json_script:"map_data" }}
<script type="text/javascript">
    function map_init(map, options) {
        const map_data = JSON.parse(document.getElementById('map_data').textContent);

        // Center the map
        map.setView(map_data.center, 5);

        // Add the boundary
        L.geoJSON(JSON.parse(map_data.boundary)).addTo(map);

        // Add the cities
        for (let city of map_data.cities) {
            var city_marker = L.marker([city.lat, city.lon]);
            city_marker.on('click', function() {
                window.location.href = city.url;
            });
            city_marker.bindPopup("<b>" + city.name + "</b>");
            city_marker.addTo(map);
        };
    }
</script>